
*.lock
*.ide
*.ide-shm
*.baml
.vs/WpfTest/v15/Server/sqlite3/storage.ide-wal
WpfTest/.vs/slnx.sqlite
WpfTest/.vs/VSWorkspaceState.json
WpfTest/.vs/WpfTest/v15/.suo
WpfTest/obj/Debug/App.baml
WpfTest/obj/Debug/App.baml
*.baml
*.cache
WpfTest/obj/Debug/WpfTest.csproj.CoreCompileInputs.cache
*.cache
WpfTest/obj/Debug/WpfTest.csprojAssemblyReference.cache
*.cache
WpfTest/obj/Debug/WpfTest_MarkupCompile.cache
*.cs
WpfTest/obj/Release/WpfTest_MarkupCompile.lref
*.lref
*.cache
*.cache
*.cache
